body{
  background-color: #254252;
  display: block;
}

header{
  background-color: #171c2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#favBtnLink {
  position: absolute; 
  right: 10px;
}

#favBtnLink button {
  border-radius: 15%;
  font-size: 20px;
  background-color: #F9982F;
  padding: 8px;
  color:#171c2d;
  border: none;
}

#favBtnLink button:hover {
  background-color: #EAB56F;
}

h1{
  color: #e37239;
}

.form{
  background-color: #e37239;
  display: flex;
  justify-content: space-evenly;
}


#user-choice{
  background-color: #f9982f;
}

#results-box,
#drinkList {
  background-color: #254252;
}

#results-box{
  margin: 20px;
}

#drinkList {
  display: flex;
  justify-content: left;
}

.eachDrink {
  padding: 10px;
}

#drink-box {
  color: white;
}

#recents{
  background-color: #eab56f;
}


img {
  width: 100%;
}

@media (max-width: 480px) {
  .form{
    flex-flow: column wrap;
    align-content: center;
  }

  #favBtnLink {
    position: static;
  }

  header{
    flex-flow: column wrap;
    align-content: center;
    padding: 20px 0px;
  }
}

.searchButton:hover, .searchButton:active {
  box-shadow: 0 0 20px white;
}